html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

.down-arrow-icon {
  background: url(images/Vector.png);
  width: 12px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.separator {
  width: 1px;
  height: 28px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

input:disabled {
  color: black;
  cursor: default;
  background-color: white;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.01em 16px;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.messages-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bg-info {
  background-color: #feffbf;
  color: #9a9d01;
}

.bg-info-gray {
  background-color: #f0f0f0;
}

.info-icon {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iIzlBOUQwMSIgZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTEgMTVoLTJ2LTZoMnY2em0wLThoLTJWN2gydjJ6Ii8+Cjwvc3ZnPgo=")
    no-repeat center center;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotated {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

.table-wrapper {
  overflow-y: auto;
  max-height: 65vh;
}

.pure-g > div {
  box-sizing: border-box;
}

.l-box {
  padding-left: 20px;
  padding-right: 20px;
}

.scroll-display-height-300 {
  max-height: 300px;
  overflow-y: auto;
}

@media (min-width: 1120px) {
  .pure-g .l-box:first-child {
    padding-left: 0;
  }

  .pure-g .l-box:last-child {
    padding-right: 0;
  }

  .table-wrapper {
    overflow-x: hidden;
  }
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: fit-content;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.img-qr {
  max-width: 380px;
  padding: 20px;
}

/* Select Styles */

.select-css {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iIzUwNTA1MCIgZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNi0xLjQxLTEuNDF6Ii8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat, repeat;
  background-position: right 16px top 50%, 0 0;
  background-size: 1.55em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled="true"] {
  color: graytext;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iIzUwNTA1MCIgZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNi0xLjQxLTEuNDF6Ii8+Cjwvc3ZnPgo=");
}
.select-css:disabled:hover,
.select-css[aria-disabled="true"] {
  border-color: #aaa;
}

.padding-16 {
  padding: 16px;
}

.padding-right {
  padding-right: 16px;
}

.padding-left {
  padding-left: 16px;
}

.padding-vertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.w3-padding {
  padding: 12px 16px !important;
}

.w3-table td:last-child {
  padding-right: 16px;
}

.w3-text-grey,
.w3-text-gray {
  color: #505050 !important;
}

.w3-input {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #505050 !important;
}

.w3-input-short {
  display: inline-block;
  width: 85%;
  font-size: 12px;
  color: #505050 !important;
 }
  
 @media (min-width: 480px) {
  .w3-input-short {
    width: 90%;
  }
 }
  
 @media (min-width: 768px) and (max-width: 1074px)  {
  .w3-input-short {
    width: 80%;
  }
 }
  
 .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
 }
  
 .hidden {
  display: none;
 }
  
 fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
 }